.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.pagination .pagination-btn {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  align-items: center;
}

.pagination .pagination-btn.hide {
  opacity: 50%;
}

.pagination .pagination-btn:hover:not(.hide) {
  background-color: #ddd;
  color: black;
}
