.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 3rem;
}

.user-page h1 {
  color: var(--secondary-color);
  text-align: center;
}

.user-table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.user-table {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
}

.user-table .btn {
  padding: 0.4rem 1rem;
}

.user-table td,
.user-table th {
  border: 0.1rem solid;
  border-color: white;
  padding: 0.8rem;
}

.borrow-list,
.stats-container {
  background-color: var(--background-color);
  color: white;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  border-radius: 0.6rem;
  max-height: 60%;
  overflow-y: auto;
}

.borrow-list p,
.stats-container p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.borrow_count_and_detail_btn p {
  font-weight: bold;
}

.borrow_count_and_detail_btn .btn-primary {
  font-weight: bold;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .user-table {
    margin: 1rem;
  }

  .user-table,
  .user-table tr {
    border: 1px solid white;
  }

  .user-table th {
    display: none;
  }

  .user-table td {
    display: grid;
    text-align: left;
    margin-left: 0.6rem;
  }

  .user-table td:not(.no-label) {
    grid-template-columns: 15ch auto;
  }

  .user-table td:first-child {
    padding-top: 2rem;
  }

  .user-table td:last-child {
    padding-bottom: 2rem;
  }

  .user-table .btn {
    max-width: fit-content;
    padding: 0.2rem 0.6rem;
  }

  .user-table td {
    border: none;
  }

  .user-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--white);
  }

  .borrow-list p,
  .stats-container p {
    margin-bottom: 1rem;
  }

  .stats-container .user-table td:not(.no-label) {
    grid-template-columns: 20ch auto;
  }

  .stats-container .user-table,
  .stats-container .user-table tr {
    border: none;
  }
}
